#qr--bar:hover{
height: 40px;
transition: all 0.5s ease;
}
#qr--bar{
border-top: 4px solid var(--SmartThemeQuoteColor);
height: 4px;
}



body { 
--mes_buttons-visibility: hidden;
}
.mes_buttons 
{
visibility: var(--mes_buttons-visibility);
}
.mes_block:hover
{
--mes_buttons-visibility: visible;
}


#options {
display: block !important;
border-top: 8px groove var(--SmartThemeQuoteColor);
height: 4px;
width: 2.5em;
transition: 0.3s;
overflow-x: auto;
}
#options:hover  {
height: auto !important;
width: auto !important;
}

.edit_textarea{
font-family: Consolas, monospace;
}
.world_entry_form_control textarea{
font-family: Consolas, monospace;
}
