#qr--bar:hover{
height: 40px;
transition: all 0.5s ease;
}
#qr--bar{
border-top: 4px solid var(--SmartThemeQuoteColor);
height: 4px;
}



body { 
--mes_buttons-visibility: hidden;
}
.mes_buttons 
{
visibility: var(--mes_buttons-visibility);
}
.mes_block:hover
{
--mes_buttons-visibility: visible;
}


#options {
display: block !important;
z-index: 30 !important;
border-top: 8px groove var(--SmartThemeQuoteColor);
filter: contrast(100%);
outline: none;
height: 4px !important;
width: 2.5em !important;
margin: 0;
transition: 0.3s;
display: flex;
align-items: center;
justify-content: center;
overflow-x: auto;
order: 1;
position: relative;
}
#options:hover {
height: auto !important;
width: auto !important;
}

